//Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//Utils
@import "utils/variables";

//Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.navbar {
	margin-bottom: 0px;
}

.push {
	margin-top: 50px;
}

.jumbotron {
	background: #fff;
}