#landing {
	
	h1 {
		font-weight: 600;
		font-size: 38px;
		color: #222222;
		margin: 36px 0 22px 0;
	}

	p {
		font-weight: 300;
		font-size: 26px;
		color: #848484;
		line-height: 40px;
		max-width: 520px;
		margin: 0px auto 40px auto;
	}



}